page-add-to-wish-list {
    .list {
        background-color: white;
    }
    ion-label[fixed] {
        width: 110px;
        font-weight: bold;
    }
    ion-input {
        background-color: whitesmoke;
    }
}
