page-wish-list {
    #book-title {
        margin: 7px 0 0 0;
        color: blue;
    }
    #book-authour {
        margin: 4px 0 0 0;
    }
    #divider {
        width: -webkit-fill-available!important;
        margin: 2px 0 0 0;
    }
    #book-icon {
        font-size: 25px;
        color: blue;
        margin-top: 12px;
    }
	.beige {
        background-color:beige;
	}
	.lightyellow {
        background-color:lightyellow;
    }
    .grid {
        padding: 0;
    }
}
