page-to-read {
    #book-image {
        border: 1px solid;
        width: 65px;
    }
    #book-title {
        margin: 7px 0 0 0;
        color: blue;
    }
    #book-authour {
        margin: 4px 0 0 0;
    }
    #divider {
        width: -webkit-fill-available!important;
        margin: 2px 0 0 0;
    }
    #book-icon {
        font-size: 25px;
        color: blue;
    }
    #book-id {
        margin: 6px 0 0 0;
    }
	.beige {
        background-color:beige;
	}
	.lightyellow {
        background-color:lightyellow;
    }
    .grid {
        padding: 0;
    }
}
