page-edit-book {
    .active {
        border-bottom: 2px solid blue;
        font-weight: bold;
        color: blue;
    }
    .deactive {
        border-bottom: none;
        color: black;
    }

    .list {
        background-color: white;
    }
    .awardsDiv{
        border: 1px solid blue;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .inputNames {
        width: 110px;
    }
    ion-label[fixed] {
        width: 110px;
        font-weight: bold;
    }
    .title-label {
        font-weight: bold;
    }
    ion-select {
        max-width: 100%;
        background-color: whitesmoke;
        padding-left: 8px!important;
    }
    ion-textarea {
        background-color: whitesmoke;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    ion-datetime {
        background-color: whitesmoke;
        // padding-top: 1px;
        // padding-bottom: 1px;
    }
    ion-input {
        background-color: whitesmoke;
    }
    #optional {
        margin-left: 1px;
    }
    .read-state {
        margin: auto;
        padding-right: 5px;
    }
    .is-booh-lend {
        margin: auto;
    }
    .display {
        display: block;
    }
    .display-none {
        display: none;
    }
    .is-read {
        background-color: whitesmoke;
        padding-left: 10px;
    }
}
